<div class="container">
  <h1>Surveys Created by <%= @user.name %></h1>
  <% if @surveys_created.empty? %>
    You have not created any surveys yet.
  <% else %>
    <% @surveys_created.each do |survey| %>
      <a href="/surveys/<%= survey.id %>"><%= survey.name %></a><br>
    <% end %>
  <% end %>

  <br><br><br>

  <form action= "/surveys/new" method= "get">
    <input type="submit" value= "Create New Survey">
  </form>

  <br><br>

  <h1>Surveys Taken by <%= @user.name %></h1>
  <% if @surveys_taken.empty? %>
    You have not taken any surveys yet.<br><br>
    <form action="/" method="get">
      <input type="submit" value="Take a Survey">
    </form>
  <% else %>
   <% @surveys_taken.each do |survey| %>
      <a href="/surveys/<%= survey.id %>/results/user"><%= survey.name %></a><br>
    <% end %><br><br>
    <form action="/" method="get">
      <input type="submit" value="Take Another Survey">
    </form>
  <% end %>
</div>
