<h1>Taking <%= @survey.name %></h1>

  <% @survey.questions.each do |question| %>
  <strong>Question:</strong> <%= question.question %>



    <select name="choices">
      <option value="choice1"><%= question.choice1 %></option>

      <option value="choice2"><%= question.choice2 %></option>

      <option value="choice3"><%= question.choice3 %></option>

    </select>
    <br><br>

  <% end %>
